.container {
  display: flex;
  padding-right: 15px;
}

.content {
  font-size: 12px;
  font-weight: 100;
  padding: 0 5px;
}

@media (min-width: 480px) and (max-width: 639px) and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
  .content {
    font-size: 10px;
  }
}
